<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mstestv2" value="https://dotnet.myget.org/F/mstestv2/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <config>
    <!-- This path is relative as a workaround to https://github.com/NuGet/Home/issues/2831 -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>