<RunSettings>
  <RunConfiguration>
    <!--DisableParallelization>true</DisableParallelization>
    <DisableAppDomain>false</DisableAppDomain-->
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Test Impact">
        <Configuration>
          <ImpactLevel>file</ImpactLevel>
          <LogFilePath>true</LogFilePath>
        </Configuration>
      </DataCollector>
    <DataCollector friendlyName="SampleDataCollector" />
    </DataCollectors>
  </DataCollectionRunSettings>

  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
    <SynchronousEvents>true</SynchronousEvents>
    <DumpXmlTestDiscovery>true</DumpXmlTestDiscovery>
    <DumpXmlTestResults>true</DumpXmlTestResults>
  </NUnit>  
</RunSettings>