################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleMath/packages
/SimpleMath/SimpleMathMultTests/obj/Debug
/SimpleMath/SimpleMathDivTests/obj/Debug
/SimpleMath/SimpleMathAddTests/obj/Debug
/SimpleMath/SimpleMath/obj/Debug
/SimpleMath/SimpleMathSubTests/obj/Debug
/SimpleMath/SimpleMathSubTests/bin/Debug
/SimpleMath/SimpleMathMultTests/bin/Debug
/SimpleMath/SimpleMathDivTests/bin/Debug
/SimpleMath/SimpleMathAddTests/bin/Debug
/SimpleMath/SimpleMath/bin/Debug
/SimpleMath/.vs/SimpleMath/v15/.suo
*.ide
/.vs
/SimpleMath/SimpleMath/obj/Release
/MSTestV2Ex/AttributeEx/AttributeEx/.vs/AttributeEx/v15
/MSTestV2Ex/AttributeEx/AttributeEx/obj/Debug
/MSTestV2Ex/AttributeEx/AttributeEx/packages
/MSTestV2Ex/AttributeEx/AttributeExTests/obj/Debug
/MSTestV2Ex/AttributeEx/.vs/AttributeEx/v15
/MSTestV2Ex/AttributeEx/AttributeEx/bin/Debug
/MSTestV2Ex/AttributeEx/AttributeEx/obj/Release
/MSTestV2Ex/AttributeEx/packages
/MSTestV2Ex/AttributeEx/AttributeExTests_2/bin/Debug
/MSTestV2Ex/AttributeEx/AttributeExTests_2/obj/Debug
/MSTestV2Ex/AttributeEx/UnitTestProject1/obj/Debug
/MSTestV2Ex/AttributeEx/UnitTestProject1
/MSTestV2Ex/AttributeEx/AttributeExTests/bin/Debug
/IntelliTest/SimpleBank/SimpleBank/obj/x86
/IntelliTest/Taxation
/IntelliTest/Taxation
/IntelliTest/SimpleBank/SimpleBank/obj/x86
/IntelliTest/Taxation
/IntelliTest
/IntelliTest/Taxation/DAL/obj
/IntelliTest/Taxation/Models/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj/Debug
*.cache
*.cache
*.cache
