################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleMath/packages
/SimpleMath/SimpleMathMultTests/obj/Debug
/SimpleMath/SimpleMathDivTests/obj/Debug
/SimpleMath/SimpleMathAddTests/obj/Debug
/SimpleMath/SimpleMath/obj/Debug
/SimpleMath/SimpleMathSubTests/obj/Debug
/SimpleMath/SimpleMathSubTests/bin/Debug
/SimpleMath/SimpleMathMultTests/bin/Debug
/SimpleMath/SimpleMathDivTests/bin/Debug
/SimpleMath/SimpleMathAddTests/bin/Debug
/SimpleMath/SimpleMath/bin/Debug
/SimpleMath/.vs/SimpleMath/v15/.suo
*.ide
/.vs
/SimpleMath/SimpleMath/obj/Release
/MSTestV2Ex/AttributeEx/AttributeEx/.vs/AttributeEx/v15
/MSTestV2Ex/AttributeEx/AttributeEx/obj/Debug
/MSTestV2Ex/AttributeEx/AttributeEx/packages
/MSTestV2Ex/AttributeEx/AttributeExTests/obj/Debug
/MSTestV2Ex/AttributeEx/.vs/AttributeEx/v15
/MSTestV2Ex/AttributeEx/AttributeEx/bin/Debug
/MSTestV2Ex/AttributeEx/AttributeEx/obj/Release
/MSTestV2Ex/AttributeEx/packages
/MSTestV2Ex/AttributeEx/AttributeExTests_2/bin/Debug
/MSTestV2Ex/AttributeEx/AttributeExTests_2/obj/Debug
/MSTestV2Ex/AttributeEx/UnitTestProject1/obj/Debug
/MSTestV2Ex/AttributeEx/UnitTestProject1
/MSTestV2Ex/AttributeEx/AttributeExTests/bin/Debug
/IntelliTest/SimpleBank/SimpleBank/obj/x86
/IntelliTest/SimpleBank/SimpleBank/obj/x86
/IntelliTest/Taxation/DAL/obj
/IntelliTest/Taxation/Models/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj
/IntelliTest/Taxation/TaxCalculators/obj/Debug
*.cache
*.dll
*.pdb
/IntelliTest/PathCoverage/.vs/PathCoverage/v15
/IntelliTest/PathCoverage/PathCoverage/obj/Debug
/Shapes/.vs/Shapes/v15
/Shapes/Debug
/Shapes/Shapes/Debug/vc141.idb
/Shapes/Shapes/Debug/Triangle.obj
/Shapes/Shapes/Debug/Shapes.log
/Shapes/Shapes/Debug/Shape.obj
/Shapes/Shapes/Debug/Rectangle.obj
/Shapes/Shapes/Debug/Main.obj
/Shapes/Shapes/Debug/Circle.obj
/Shapes/Shapes/Debug/Tetrahedron.obj
/Shapes/Shapes/Debug/Square.obj
/Shapes/Shapes/Debug/Sphere.obj
/Shapes/Shapes/Debug/Cuboid.obj
/Shapes/Shapes/Debug/Cube.obj
/Shapes/ShapesTests/Debug/vc141.idb
/Shapes/ShapesTests/Debug/unittest1.obj
/Shapes/ShapesTests/Debug/ShapesTests.tlog/ShapesTests.write.1u.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/ShapesTests.lastbuildstate
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.write.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.read.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.command.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/CL.write.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/CL.read.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/CL.command.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.log
/Shapes/Shapes/Debug/Shapes.Build.CppClean.log
/Shapes/ShapesTests/Debug/ShapesTests.Build.CppClean.log
/Shapes/Shapes/Debug/Shapes.tlog/Shapes.lastbuildstate
/Shapes/Shapes/Debug/Shapes.tlog/link.write.1.tlog
/Shapes/Shapes/Debug/Shapes.tlog/link.read.1.tlog
/Shapes/Shapes/Debug/Shapes.tlog/link.command.1.tlog
/Shapes/Shapes/Debug/Shapes.tlog/CL.write.1.tlog
/Shapes/Shapes/Debug/Shapes.tlog/CL.read.1.tlog
/Shapes/Shapes/Debug/Shapes.tlog/CL.command.1.tlog
/Shapes/ShapesTests/Debug/TriangleTests.obj
/Shapes/ShapesTests/Debug/TetrahedronTests.obj
/Shapes/ShapesTests/Debug/SquareTests.obj
/Shapes/ShapesTests/Debug/SphereTests.obj
/Shapes/ShapesTests/Debug/RectangleTests.obj
/Shapes/ShapesTests/Debug/CuboidTests.obj
/Shapes/ShapesTests/Debug/CubeTests.obj
/Shapes/ShapesTests/Debug/CircleTests.obj
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.3120.delete.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.21980.delete.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.21692.delete.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.18404.delete.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.16188.delete.1.tlog
/Shapes/ShapesTests/Debug/ShapesTests.tlog/link.14384.delete.1.tlog
/Shapes/Shapes/Release
/Shapes/ShapesTests/x64
*.log
/Shapes/Release
*.obj
*.tlog
/MemberAccess/Sample1/.vs/Sample1/v15
/MemberAccess/Sample1/packages
/MemberAccess/Sample1/Sample1/obj/Debug
/MemberAccess/Sample1/Sample1Tests/obj/Debug
/MemberAccess/Sample1/Sample1Tests/bin/Debug
/MemberAccess/Sample2/.vs/Sample2/v15
/MemberAccess/Sample2/packages
/MemberAccess/Sample2/Sample2/obj/Debug
/MemberAccess/Sample2/Sample2Tests/obj/Debug
/MemberAccess/Sample2/Sample2Tests/bin/Debug
